<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14665286854-2vlsik4nlegjp4id6jmalb9rrjkdn3pu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14665286854-2vlsik4nlegjp4id6jmalb9rrjkdn3pu</string>
	<key>API_KEY</key>
	<string>AIzaSyAHMG0ABlcPPG6Iyk20XPKEs8iMHTJtBGo</string>
	<key>GCM_SENDER_ID</key>
	<string>14665286854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.javaCode</string>
	<key>PROJECT_ID</key>
	<string>java-code-aac50</string>
	<key>STORAGE_BUCKET</key>
	<string>java-code-aac50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14665286854:ios:ae8bde44aa24f412a083c7</string>
</dict>
</plist>